@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    /* TODO: Clean up the naming of these variables */ 

    --primary: var(--piveau-primary); /* primary button background color */
    --primary-40: var(--piveau-primary-variant); /* primary variant color */
    --primary-20: var(--piveau-secondary); /* secondary color */
    --primary-30: #f2efff; /* Facet bg */
    --primary-80: #dedede; /* Labels light */
    --primary-100: var(--piveau-text); /* Text Color */

    --primary-10: var(--piveau-primary);
    --primary-50: var(--piveau-primary);
    --primary-60: var(--piveau-primary);
    --primary-70: var(--piveau-primary);

    --fg: var(--primary-100);
    --bg: var(--neutral-100);

    /* Piveau Vanilla Branding (primary, secnondary, ...) */

    --neutral-100: #262626;

    --piveau-text: #2E2E2E;
    --piveau-text-dark: #FFFFFF;

    --piveau-background: #F4F4F4;
    --piveau-surface: #FFFFFF;

    --piveau-background-dark: #262626;
    --piveau-surface-dark: #000;

    --piveau-primary: #7B61FF;
    --piveau-primary-variant: #3B2F79;

    --piveau-secondary: #B5D0D7;
    --piveau-secondary-variant: #54666a;

    --piveau-text-on-primary: #FFFFFF;
    --piveau-text-on-primary-variant: #ffffff;
    --piveau-text-on-secondary: #2E2E2E;
    --piveau-text-on-secondary-variant: #FFFFFF;

    /* Tokens */    
    
    --background: var(--piveau-background);
    --background--dark: ;

    --focused: var(--piveau-primary);
    --focused--dark: ;

    --primary-background: var(--piveau-primary);
    --primary-background-hover: var(--piveau-primary-variant);
    --primary-background-pressed: var(--piveau-primary);
    --primary-background-disabled: gray;

    /* --primary-background--dark: var(--piveau-primary);
    --primary-background-hover--dark: var(--piveau-primary-variant);
    --primary-background-pressed--dark: var(--piveau-primary);
    --primary-background-disabled--dark: gray; */

    --secondary-background: var(--piveau-secondary);
    --secondary-background-hover: var(--piveau-secondary-variant);
    --secondary-background-pressed: var(--piveau-secondary-variant);
    --secondary-background-disabled: gray;

    /* --secondary-background--dark: var(--primary-90);
    --secondary-background-hover--dark: var(--primary-80);
    --secondary-background-pressed--dark: var(--primary-70);
    --secondary-background-disabled--dark: var(--neutral-10); */

    --tertiary-background-hover: #fff;
    --tertiary-background-pressed: #fff;

    /* --tertiary-background-hover--dark: var(--primary-90);
    --tertiary-background-pressed--dark: var(--primary-100); */

    --tooltip-background: var(--neutral-100);
    --toltip-text: var(--piveau-text-dark);

    /* Text */
    --text: var(--neutral-100);

    /* Text on primary background */
    --primary-text: var(--piveau-text-on-primary);
    /* --primary-text--dark: var(--neutral-100); */

    /* Text on secondary background */
    --secondary-text: var(--neutral-100);
    --secondary-text-disabled: var(--neutral-30);
    /* --secondary-text--dark: var(--neutral-0);
    --secondary-text-disabled--dark: var(--neutral-30); */

    /* Text on tertiary background */
    --tertiary-text: var(--neutral-80);
    --tertiary-text-disabled: var(--neutral-30);
    /* --tertiary-text--dark: var(--neutral-40);
    --tertiary-text-disabled--dark: var(--neutral-80); */

    --inline-text-hyperlink: var(--twinby-blue-80);
    --inline-text-hyperlink-hover: var(--twinby-blue-100);
    --inline-text-hyperlink-pressed: var(--twinby-blue-60);
    --inline-text-hyperlink-visited: var(--twinby-blue-90);
    --inline-text-hyperlink--dark: var(--twinby-blue-40);
    --inline-text-hyperlink-hover--dark: var(--twinby-blue-30);
    --inline-text-hyperlink-pressed--dark: var(--twinby-blue-60);
    --inline-text-hyperlink-visited--dark: var(--twinby-blue-50);

    /* // TODO: Finish adding design tokens from figma here */
  }

  body {
    @apply bg-neutral-5 text-neutral-content;
    background: var(--background);
  }

  .by-link {
    @apply text-copy-sm font-semibold no-underline text-inline-text-hyperlink hover:bg-inline-text-hyperlink-hover active:bg-inline-text-hyperlink-pressed focus:underline focus:outline-none visited:bg-inline-text-hyperlink-pressed;
  }

  .by-copy-small-regular {
    @apply text-copy-sm font-normal;
  }
  .by-copy-small-semibold {
    @apply text-copy-sm font-semibold;
  }
  .by-copy-small-bold {
    @apply text-copy-sm font-bold;
  }

  .markdown-content a {
    /* For markdown interpreted content */
    @apply text-copy-sm font-semibold no-underline text-inline-text-hyperlink hover:bg-inline-text-hyperlink-hover active:bg-inline-text-hyperlink-pressed focus:underline focus:outline-none visited:bg-inline-text-hyperlink-pressed;
  }
  
}
